<div class="col-xs-12 col-sm-12 col-md-4  col-lg-4">
  <div class="blog-grid">
    <div class="blog-image">
      <%= link_to post, class: "bold-text" do %>
        <%= image_tag post.cover_image.url || "no_cover_image.png", class: "img-responsive cover-img" %>
      <% end %>
    </div>
    <div class="blog-content article-item">
      <h3 class="margin-bottom-10 article-title-item">
        <%= link_to post.title.truncate(35, separator: ' '), post, class: "post-title" %>
      </h3>
      <span class="article-time">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <%= time_ago_in_words post.created_at %>
      </span>
      <% if post.tags.present? %>
        <div class="listing-grid margin-top-10  tag-list-in-article">
          <div class="tagcloud pull-left">
            <% post.tags.each do |tag| %>
              <%= link_to tag.name, tag %>
            <% end %>
          </div>
        </div>
      <% end %>
      <p class="active-content hidden-overflow"><%= post.content %></p>
    </div>
    <div class="blog-footer">
      <ul class="like-comment">
        <li>
          <a class="blue-color no-hover" data-toggle="tooltip" data-placement="bottom"
            data-original-title="<%= t ".votes" %>">
            <i class="fa fa-sort"></i><%= votes_count post.reactions %>
          </a>
        </li>
        <li>
          <a class="blue-color no-hover" data-toggle="tooltip" data-placement="bottom"
            data-original-title="<%= t ".comments" %>">
            <i class="icon-chat"></i><%= post.replies.length %>
          </a>
        </li>
        <li>
          <a class="blue-color no-hover" data-toggle="tooltip" data-placement="bottom"
            data-original-title="<%= t ".views" %>">
            <i class="fa fa-eye"></i><%= post.views.length %>
          </a>
        </li>
      </ul>
      <%= link_to post, class: "more-btn pull-right btn btn-primary" do %>
        <i class="fa fa-long-arrow-right"></i>
        <%=  t ".more" %>
      <% end %>
    </div>
  </div>
</div>
