<div class="full-section search-section">
  <div class="search-area container">
    <h3 class="search-title"><%= t ".search_title" %></h3>
    <p class="search-tag-line"><%= t ".introduce_search" %></p>
    <form autocomplete="off" method="get" class="search-form clearfix" id="search-form">
      <input type="text" title="* Please enter a search term!" placeholder="Type your search terms here" class="search-term " autocomplete="off">
      <input type="submit" value="Search" class="search-btn">
    </form>
  </div>
</div>
<div class="main-content-area">
  <section class="custom-padding" id="how-it-work">
    <div class="container">
      <div class="main-heading text-center">
        <h2><%= t ".how_it_work"%></h2>
        <div class="slices"><span class="slice"></span><span class="slice"></span><span class="slice"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-4 col-xs-12 center-responsive">
          <%= image_tag "step1.png", class: "img-responsive" %>
          <h4><a href="#"><%= t ".create_account"%></a></h4>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12 center-responsive get-arrow">
          <%= image_tag "step2.png", class: "img-responsive" %>
          <h4><a href="#"><%= t ".create_post"%></a></h4>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12 center-responsive get-arrow">
          <%= image_tag "step3.png", class: "img-responsive" %>
          <h4><a href="#"><%= t ".find_or_study"%></a></h4>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
  <section class="section-padding-80 white" id="latest-post">
    <div class="container">
      <div class="main-heading text-center">
        <h2><%= t ".hightest_votes_question" %></h2>
        <div class="slices">
          <span class="slice"></span><span class="slice"></span><span class="slice"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="listing">
            <div class="listing-area">
              <%= render partial: "posts/post", collection: @questions %>
              <div class="text-center clearfix">
                <%= paginate @questions %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 clearfix">
            <div class="side-bar">
              <div class="widget">
                <h2><%= t ".top_users" %></h2>
                <hr class="widget-separator no-margin">
                <div class="media-group">
                  <%= render partial: "posts/user", collection: @top_users, as: :user %>
                </div>
                <div class="margin-right-15 pull-right">
                  <%= link_to users_path, class: "yellow-color" do %>
                    <i class="fa fa-users"></i>
                    <%= t ".all_users" %>
                  <% end %>
                </div>
              </div>
              <div class="widget">
                <div class="widget_tag_cloud">
                  <h2><%= t ".popular_tags" %></h2>
                  <hr class="widget-separator no-margin">
                  <div class="tag_cloud">
                    <% @popular_tags.each do |tag| %>
                      <%= link_to tag do %>
                        <%= tag.name %>
                        <span class="posts-count"><%= tag.posts_count %></span>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="all_tags pull-right">
                    <%= link_to tags_path, class: "red-color" do %>
                      <span class="glyphicon glyphicon-tags"></span>
                      <%= t ".all_tag" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
  <section class="parallex section-padding fun-facts-bg text-center" data-stellar-background-ratio="0.1">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="statistic-percent" data-perc="356">
            <div class="facts-icons"> <span class="icon-trophy"></span>
            </div>
            <div class="fact"> <span class="percentfactor">356</span>
              <p>Happy Clients</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="statistic-percent" data-perc="126">
            <div class="facts-icons"> <span class="icon-trophy"></span>
            </div>
            <div class="fact"> <span class="percentfactor">126</span>
              <p>Order Received</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="statistic-percent" data-perc="274">
            <div class="facts-icons"> <span class="icon-chat"></span>
            </div>
            <div class="fact"> <span class="percentfactor">274</span>
              <p>Free Delivery</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="statistic-percent" data-perc="434">
            <div class="facts-icons"> <span class="icon-megaphone"></span>
            </div>
            <div class="fact"> <span class="percentfactor">434</span>
              <p>Completed Projects</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="blog" class="custom-padding">
    <div class="container">
      <div class="main-heading text-center">
        <h2><%=  t ".hightest_votes_article" %></h2>
        <div class="slices">
          <span class="slice"></span><span class="slice"></span><span class="slice"></span>
        </div>
      </div>
      <div class="row">
        <%= render partial: "article", collection: @articles, as: :post %>
        <div class="text-center clearfix">
          <%= paginate @articles %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
</div>
