<%= form_for(reply, remote: (reply.id || reply.parent_id.present?) ) do |f| %>
  <%= f.hidden_field :replyable_id %>
  <%= f.hidden_field :replyable_type %>
  <%= f.hidden_field :parent_id %>
  <%= hidden_field_tag :type, type %>
  <div class="form-group">
    <%= f.text_area :content,required: true, class: "form-control ckeditor",
      id: "reply_content_#{reply.id || reply.parent_id}"%>
  </div>
  <div class="form-group submit-reply">
    <%= f.submit submit, class: "btn btn-primary pull-right btn-small" %>
  </div>
<% end %>
