<div class="media-block chidrent-reply ribbon-content
  <%= "hide-replies" if hide_replies? reply_counter %>">
  <div class="media-left">
    <%= link_to reply.user, data: {toggle: "tooltip", placement: "bottom",
      original_title: reply.user.name} do %>
      <% image_tag reply.user.avatar.url, class: "img-border img-xs img-circle" %>
    <% end %>
  </div>
  <div class="media-body no-padding-left">
    <div class="mar-btm">
      <h4 class="pull-left">
        <%= link_to reply.user.name, reply.user,
        class: "btn-link text-semibold media-heading box-inline" %>
      </h4>
      <p class="text-muted text-sm pull-right">
        <i class="fa fa-clock-o"></i>
        <%= time_ago_in_words reply.created_at %>
      </p>
    </div>
    <div class="reply-content">
      <%= raw reply.content %>
    </div>
    <div class="pad-ver pull-right">
      <%= render "posts/reaction_button", reactions: reply.reactions, reactionable: reply %>
    </div>
    <div id="reply_form_<%= reply.id %>"></div>
  </div>
</div>
