<% if post.question? %>
  <div class="media-group-item article">
    <div class="media">
      <div class="media-left">
        <div class="avatar avatar-md avatar-circle">
          <%= image_tag post.user.avatar.url %>
        </div>
      </div>
      <div class="media-body">
        <h5 class="media-heading"><%= link_to post.title.truncate(35, separator: ''), post, class: "side-post-title" %></h5>
        <%= link_to post.user do %>
          <small class="media-meta"><%= post.user.name %></small>
        <% end %>
        <div class="points pull-right">
          <span class="green-color"><i class="fa fa-eye">&nbsp;</i><%= pluralize post.views_count, t(".view") %></span>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="media-group-item article">
    <div class="media">
      <div class="media-left">
        <div class="avatar avatar-md avatar-circle img-border-2">
          <%= image_tag post.cover_image.url || "no_cover_image.png",class: "img-responsive middle-img" %>
        </div>
      </div>
      <div class="media-body">
        <h5 class="media-heading"><%= link_to post.title.truncate(35, separator: ' '), post, class: "side-post-title" %></h5>
        <%= link_to post.user do %>
          <small class="media-meta"><%= post.user.name %></small>
        <% end %>
        <div class="points pull-right">
          <span class="green-color"><i class="fa fa-eye">&nbsp;</i><%= pluralize post.views_count, t(".view") %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>
