<% if reactionable.class.name == Reply.name %>
  <div class="pad-ver pull-right" id="reaction_of_reply_<%= reactionable.id %>">
    <% unless reaction_count(reactions, Settings.reaction.like).zero? %>
      <%= link_to reactions_path(type: reactionable.class.name, id: reactionable.id), class: "liked-list font-size-12", remote: true do %>
        <i class="fa fa-thumbs-up blue-background"></i>
        <%= label_liked_user_list reactions %>
      <% end %>
    <% end %>
    <%= link_to "javascript:void(0)", class: "btn btn-sm btn-default btn-reaction
      #{"reacted" if current_user_reacted? reactions, Settings.reaction.like}",
      data: {toggle: "tooltip", placement: "bottom", original_title: t("reactions.target_type.like"),
      target: "like", id: reactionable.id, type: reactionable.class.name} do %>
      <%= reaction_count reactions, Settings.reaction.like %>
      <i class="fa fa-thumbs-up"></i>
    <% end %>
    <%= link_to "javascript:void(0)", class: "btn btn-sm btn-default btn-reaction
      #{"reacted" if current_user_reacted? reactions, Settings.reaction.spam}",
      data: {toggle: "tooltip", placement: "bottom", target: "spam", id: reactionable.id,
      original_title: t("reactions.target_type.spam"), type: reactionable.class.name} do %>
      <%= reaction_count reactions,  Settings.reaction.spam %>
      <i class="fa fa-thumbs-down"></i>
    <% end %>
  </div>
<% else %>
  <div class="row text-center" id="reaction_of_<%= reactionable.class.name.downcase %>_<%= reactionable.id %>">
    <div class="btn-action">
      <%= link_to "javascript:", class: "btn-vote btn-reaction
        #{"reacted" if current_user_reacted? reactions, Settings.reaction.upvote}",
        data: {target: "upvote", id: reactionable.id, type: reactionable.class.name} do %>
        <i class="fa fa-caret-up" aria-hidden="true"></i>
      <% end %>
    </div>
    <h1 class="red-color bold-text text-center"><%= votes_count reactions %></h1>
    <div class="btn-action">
      <%= link_to "javascript:void(0)", class: "btn-vote btn-reaction
        #{"reacted" if current_user_reacted? reactions, Settings.reaction.downvote}",
        data: {target: "downvote", id: reactionable.id, type: reactionable.class.name} do %>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
<% end %>
