  <div class="main-content-area">
    <section class="page-title">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-7 co-xs-12 text-left">
            <h1><%= t ".page_title" %></h1>
          </div>
          <div class="col-md-6 col-sm-5 co-xs-12 text-right">
            <div class="bread">
              <ol class="breadcrumb">
                <li><%= link_to t("page_title.home"), root_path %></a></li>
                <li class="active"><%= t ".breadcrumb" %></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-padding-80 white" id="post-question">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8 ">
            <div class="box-panel">
              <h2><%= t ".page_title" %></h2>
              <p><%= t ".instruction" %></p>
              <hr>
              <%= form_for @post, html: {class: "margin-top-40"}, remote: true do |f| %>
                <div class="form-group">
                  <%= f.label :type %><span class="bold-red-text"> *</span>
                  <%= f.select :type, options_for_select(list_of_post_types), {},class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.label :title %><span class="bold-red-text"> *</span>
                  <%= f.text_field :title, maxlength: Settings.post.max_title, placeholder: t(".placeholder.title"),
                    minlength: Settings.post.min_title, required: true, class: "form-control" %>
                </div>
                <div class="form-group">
                  <label><%= t ".tags"%></label>
                  <%= text_field_tag :tags, "", class: "form-control", data: {role: "tagsinput"} %>
                </div>
                <div class="form-group">
                  <label><%= t ".content"%></label><span class="bold-red-text"> *</span>
                  <%= f.text_area :content, placeholder: t(".placeholder.content"), class: "form-control ckeditor", required: true, minlength: Settings.post.min_content %>
                </div>
                <div id="error_message"></div>
                <%= f.submit t(".submit"), class: "btn btn-primary pull-right" %>
              <% end %>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 col-md-4">

            <!-- sidebar -->
            <div class="side-bar">

              <!-- widget -->
              <div class="widget">
                <div class="recent-comments">
                  <h2>Hot Questions</h2>
                  <hr class="widget-separator no-margin">
                  <ul>
                    <li><a href="#">Twitter Bootsrap 3.0 - tabs-left not working anymore?</a>
                    </li>
                    <li><a href="#">Changing the color on my tabbed left bootstrap3 tabs</a>
                    </li>
                    <li><a href="#">How to create tabs on the left in bootstrap.js v3.0.0? </a>
                    </li>
                    <li><a href="#">A Repository class - would you use it to handle multi records? </a>
                    </li>

                    <li><a href="#">post data from html form to php script and return result to ajax/js/jquery </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- widget -->

              <!-- widget -->
              <div class="widget">
                <div class="latest-news">
                  <h2>Latest News</h2>
                  <hr class="widget-separator no-margin">

                  <div class="news-post">
                    <div class="post">
                      <figure class="post-thumb"><img alt="" src="images/blog/small-1.png">
                      </figure>
                      <h4><a href="#">Differentiate Yourself And Attract More Attention </a></h4>
                      <div class="post-info">1 hour ago</div>
                    </div>

                    <div class="post">
                      <figure class="post-thumb"><img alt="" src="images/blog/small-2.png">
                      </figure>
                      <h4><a href="#">Differentiate Yourself And Attract More Attention </a></h4>
                      <div class="post-info">1 hour ago</div>
                    </div>

                    <div class="post">
                      <figure class="post-thumb"><img alt="" src="images/blog/small-3.png">
                      </figure>
                      <h4><a href="#">Differentiate Yourself And Attract More Attention </a></h4>
                      <div class="post-info">1 hour ago</div>
                    </div>

                  </div>

                </div>
              </div>
              <!-- widget end -->

            </div>
            <!-- sidebar end -->

          </div>
          <!-- Blog Right Sidebar End -->
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Post QuestionEnd =-=-=-=-=-=-= -->

    <!-- =-=-=-=-=-=-= Our Clients =-=-=-=-=-=-= -->
    <section class="custom-padding" id="clients">
      <div class="container">

        <!-- Row -->
        <div class="row">

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="images/clients/client_5.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="images/clients/client_6.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="images/clients/client_7.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="images/clients/client_8.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="images/clients/client_9.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

          <!-- col-md-2 client-block -->
          <div class="col-md-2 col-xs-6 col-sm-4 client-block">

            <!-- client-item client-item-style-2 -->
            <div class="client-item client-item-style-2">
              <a title="Client Logo" href="#"> <img alt="Clients Logo" src="images/clients/client_10.png"> </a>
            </div>
            <!-- /client-item client-item-style-2 -->

          </div>
          <!-- /col-md-2 client-block -->

        </div>
        <!-- Row End -->

      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Our Clients -end =-=-=-=-=-=-= -->

  </div>
