<div class="modal-dialog">
  <div class="modal-content post-list-custom-modal">
    <div class="modal-header">
      <h4 class="modal-title"><%= t ".add_posts" %></h4>
    </div>
    <div class="modal-body">
      <div class="news-post">
        <%= render partial: "series/post", collection: posts, locals:{type: :update} %>
      </div>
      <div class="text-center  section-padding-40">
        <%= paginate posts, remote: true %>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-xs btn-primary" data-dismiss="modal">
        <%= t "close" %>
      </button>
      <button type="button" class="btn btn-xs btn-primary btn-accept-add-posts">
        <%= t "ok" %>
      </button>
    </div>
  </div>
</div>
