<!DOCTYPE html>
<html>
  <head>
    <title>ITF</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    </div>
    <%= render "layouts/header" %>
    <div id="flash_message">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> fade in"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
